:root{
    /* font size */
    --fs-xl:96px;
    --fs-head:48px ;
    --fs-lg:22px ;
    --fs-sm:16px;

    /* clr */
    --clr-1: #30343a;
    --clr-2: #d6d6d8;
    --clr-3: #252930;
    --clr-4:#d3d4d8;
    --clr-5:#515459;
    --clr-6:#4d73f8;
    --clr-7:#f6f8fc;
}
.fs-xl{
    font-size: var(--fs-xl);
}
.fs-head{
    font-size: var(--fs-head);
}
.fs-lg{
    font-size: var(--fs-lg);
}
.fs-sm{
    font-size: var(--fs-sm);
}
.clr-1{
    background-color: var(--clr-2);
}
.clr-2{
    color: var(--clr-2);
}
.clr-3{
    background-color: var(--clr-3);
}
.clr-4{
    color: var(--clr-4);
}
.clr-5{
    color: var(--clr-5);
}
.clr-6{
    color: var(--clr-6);
}
.clr-7{
    background-color: var(--clr-7);
}
