@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap');
*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none !important;
box-sizing: border-box;
}
.h1, h1 {
    font-size: 48px;
}
.fnt_fmly_poppins{
    font-family: 'poppins';
}
.fnt_fmly_Josefin{
    font-family: 'Josefin Sans';
}
.box{
    width: 100%;
    height: 67px;
    opacity: 0.02;
    background: var(--white, #FFF);
}
.padding_tb{
    padding-top: 70px;
    padding-bottom: 70px;
}
.icon{
    cursor: pointer;
}
.icon:hover svg path{
    fill: aqua;
}
.margin{
  margin-top: -3%;
}
.ff-josefin {
    font-family: "Josefin+Sans" !important;
}
  .ff-poppins {
    font-family: "poppins" !important;
}
  .bg-img {
    background-image: url("/assets/img/png/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_1 {
    padding: 15px 30px;
    background-color: #4d73f8 !important;
    border-radius: 74px !important;
  }
  
  .mt-245 {
    margin-top: 245px;
  }
  .slick-dots li button:before {
    margin-top: 80px;
    font-family: slick;
    font-size: 15px !important;
    line-height: 20px;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: #4d73f8 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bttn_pstn{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 35%;
    left: 5%;
  }
  .bttn_pstn_1{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 35%;
    right: 5%;
  }
  .pstn{
    position: relative;
  }
  .min_vh{
    min-height: 100vh;
  }
@media (min-width:320px) {
  .mt-245 {
    margin-top: 100px;
  }
  .bttn_pstn{
    display: none;
  }
  .bttn_pstn_1{
    display: none;
  }
  .slick-dots li button:before {
    margin-top: 500px;
  }
}  
@media (min-width:768px) {
  .slick-dots li button:before {
    margin-top: 380px;
  }
}
@media (min-width:992px) {
  .slick-dots li button:before {
    margin-top: 360px;
  }
  .mt-245 {
    margin-top: 245px;
  }
} 
@media (min-width:1200px) {
  .slick-dots li button:before {
    margin-top: 380px;
  }
  .bttn_pstn{
    display: unset;
  }
  .bttn_pstn_1{
   display: unset;
  }
} 
