@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
.ff-josefin {
  font-family: "Josefin+Sans" !important;
}
.ff-poppins {
  font-family: "poppins" !important;
}
.bg-img {
  background-image: url("/assets/img/png/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn {
  padding: 15px 30px;
  background-color: #4d73f8 !important;
  border-radius: 74px !important;
}

.mt-245 {
  margin-top: 245px;
}
.slick-dots li button:before {
  margin-top: 50px;
  font-family: slick;
  font-size: 15px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #4d73f8 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 65px !important;
  line-height: 1;
  opacity: 3.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
